* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #252b42;
    --second-text-color: #374754;
    --button-color: #2091f9;
    --white-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    /* width: 100%; */
}